.tableRow {
  height: 45px;
  background-color: rgb(190, 243, 195);
  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tableRow:hover {
  background-color: rgb(150, 240, 158);
}

.cellCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleIcon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  
}

.circleBtn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 4px; */
  cursor: pointer;
}


.circleBtn:hover {
  background-color:royalblue;
  width: 36px;
  height: 36px;
}

.inputContent {
  width: 340px;
  height: 20px;
}

.inputName {
  width: 240px;
  height: 20px;
}

.selectCategory {
  width: 130px;
  height: 25px;
}